
  
  .redes-sociales {
    justify-content: flex-start;
    justify-content: space-around;
    padding: 5px;
    padding-left: 10px;
    padding-right: 20px;
  
    a {
      padding-left: 15px;
    }
  
    img {
      width: 16px;
      height: 16px;
    }
  }
  .nav-item {
    text-decoration: none;
    padding: 5px !important;
  }
  
  .nav-link {
    color: white !important;
    padding: 0px 5px 0px 5px !important;
    margin: 0px 2px 0px 2px !important;
    font-weight: 900 !important;
    border-bottom: 2px solid #e99dcb;
  }
  
  .navbar {
    background: rgba(0,0,0,0.8);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    position:fixed;
    top:0;
    width:100%;
    z-index: 999;
  }
  .Imagen-header {
    width: 250px;
    height: 230px;
    transition-duration: .5s;
  }
  
  .imagen-html {
    width: 150px;
    height: 170px;
    transition-duration: .5s;
  }
  
  .imagen-css {
    width: 170px;
    height: 170px;
    transition-duration: .5s;
  }
  .imagen-jv {
    width: 165px;
    height: 175px;
    transition-duration: .5s;
  }
  
  
 