.estilos-inicio-proy {
  @include cajas;
  @include shadows;
  text-align: center;
  text-transform: uppercase;
  h2 {
    text-transform: uppercase;
    color: $color-letras;
    font-weight: 900;
    font-size: 1.5em !important;
    span {
      border-bottom: 2px solid $border-color;
    }
  }
}
.estilos-contenedor1 {
    background-color: $color-background;
    border-radius: 20px;
    margin-top: 70px !important;
    padding: 15px 10px 15px 10px;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    width: $width-body;
    margin: auto;
    margin-top: 20px;
    @include shadows;
  
    h1 {
      color: $color-letras;
      font-weight: bold !important;
      font-size: 2em !important;
      span {
        border-bottom: 2px solid $border-color;
      }
    }
    h2 {
        text-transform: uppercase;
        color: $color-letras;
        font-weight: bold !important;
        font-size: 1.5em !important;
        span {
          border-bottom: 2px solid $border-color;
        }
      }
  }
  
  .estilos-desarrollo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    padding: 20px 20px 20px 20px;
  }
  
  .col {
    padding: 0px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    margin-top: 20px;
  }